[submodule "Click-Prediction"]
	path = Click-Prediction
	url = https://github.com/nazaninys/Click-Prediction.git
[submodule "Snake-Game"]
	path = Snake-Game
	url = https://github.com/nazaninys/Snake-Game.git
[submodule "Logic-Gates"]
	path = Logic-Gates
	url = https://github.com/nazaninys/Logic-Gates.git
