[submodule "Click-Prediction"]
	path = Click-Prediction
	url = https://github.com/nazaninys/Click-Prediction.git
[submodule "Snake-Game"]
	path = Snake-Game
	url = https://github.com/nazaninys/Snake-Game.git
[submodule "Logic-Gates"]
	path = Logic-Gates
	url = https://github.com/nazaninys/Logic-Gates.git
[submodule "Comment-Classifier"]
	path = Comment-Classifier
	url = https://github.com/nazaninys/Comment-Classifier.git
[submodule "House-Price-Prediction"]
	path = House-Price-Prediction
	url = https://github.com/nazaninys/House-Price-Prediction.git
[submodule "Neural-Network"]
	path = Neural-Network
	url = https://github.com/nazaninys/Neural-Network.git
